[Unit]
Description=PULXC cgroup setup
After=local-fs.target

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/usr/lib/pulxc/setup-cgroup.sh

[Install]
WantedBy=multi-user.target
